<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<p th:text="${'Hello, ' + user.getUsername() + '!'}"></p>
<br/>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>surname</th>
            <th>role</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td th:text="${user.getId}">id</td>
            <td th:text="${user.getUsername()}">username</td>
            <td th:text="${user.getSurname()}">surname</td>

            <td>
                <div th:each="role: ${user.getRoles()}">
                    <span th:if="(${role.getName()} == 'ROLE_ADMIN')" th:utext="admin"></span>
                    <span th:if="(${role.getName()} == 'ROLE_USER')" th:utext="user"></span>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<br/>
<hr/>

<a th:href="@{/logout}">LOGOUT</a>
</body>
</html>